* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
info.md export-ignore
README.md export-ignore
phpunit.xml export-ignore
phpstan.neon export-ignore
.editorconf export-ignore
