/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/documents/*
/go-programs/xlsx_render/bin
/go-programs/xlsx_render/data/
/go-programs/pdfcpu/bin
/storage/documents_ps/*
/resources/views/tmp_files_names
install.lock
.php_cs.cache
