includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#but returns Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method ReflectionType::getName.#'
        - '#LengthAwarePaginator is not generic#'
        - '#but returns Illuminate\\Database\\Eloquent\\Collection<Illuminate\\Database\\Eloquent\\Model>#'
        - '#pluck\(\) expects array\|string, null given#'
        - '#is not subtype of native type Illuminate\\Support\\Collection#'

    excludePaths:
        - ./app/Bundles/*/Database/Factories/*.php
        - ./app/Bundles/Product/Services/ProductService.php

    checkMissingIterableValueType: false
